<p>1. Simple service that returns value of its parameter</p>
<p>This is {{ result }}!</p>

<p>2. Symfony's service Symfony\Component\Filesystem\Filesystem was injected via constructor</p>
<p>we can say that /var/www/index.html exists: {{ filesystem }}</p>

<p>3. Symfony's Symfony\Component\HttpFoundation\Session\Session was injected via setter</p>
<p>Something called metaDataBag's storageKey: {{ metadatabag.storageKey }}</p>

</br>
</br>
<p>Work on this task is still in progress...</p>
